@charset "UTF-8";
/* CSS Document */

/* ---------------------------------GENERAL SITE------------------------------------------------> */

body {
	background:#000;
}
h1 {
	font-family: 'IM Fell Double Pica SC', serif;
	color: #fff;
}
#wrapper {
	width:960px;
	margin:0 auto;
}
/* ---------------------------------HEADER ------------------------------------------------> */

#logo {
	
}




/* ---------------------------------NAV ------------------------------------------------> */

/* ---------------------------------CONTENT------------------------------------------------> */

/* ---------------------------------FOOTER ------------------------------------------------> */