@charset "UTF-8";
/* CSS Document */

/* ---------------------------------GENERAL SITE------------------------------------------------> */

#wrapper {
	width:960px;
	margin:0 auto;
}
body {
	background:#000;
	background-image: url(../images/main_bg.jpg)
	margin:0;
	padding:0;
	color:#fff;
}
h1 {
	font-family: 'IM Fell Double Pica SC', serif;
	color: #000;
}

/* ---------------------------------HEADER ------------------------------------------------> */

header {
	background-color:#000;
	width:960px;
	height:75px;
	margin-bottom:10px;
	float:left;
}
#logo {
	background-image: url(../images/logo.png);
	width:400px;
	height:48px;
	float:left;
}
.logo_text {
	text-indent:-9999px;
}




/* ---------------------------------NAV ------------------------------------------------> */
nav ul {
	width:410px;
	margin:0 auto;
	list-style-type: none;
	padding:0;
	float:right;
	overflow:hidden;
}
nav li {
	width:100px;
	float:left;
	border-left:#fff solid 1px;
}
nav a {
	text-decoration: none;
	display:block;
	height:75px;
	line-height:75px;
	text-align: center;
	color:#fff;
}
nav a:hover {
	background:#fff;
	color:#f00;
}
/* ---------------------------------CONTENT------------------------------------------------> */
#main_cta {
	background-color:#000;
	width:960px;
	height:400px;
	margin: 0 auto;
}
.lets_work_cta_btn {
	width:200px;
	height:50px;
}
/* ---------------------------------FOOTER ------------------------------------------------> */